@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.bg-secondary {
    background-color: #32351a !important 
}

.btn-miColor {
  background-color: #32351a;
  color: white;
  border: none;
}

.btn-miColor:hover {
  background-color: #32351a;
}

.btn-catalogo {
  background-color: #f2f2f2;
  color: #32351a;
  border: none;
}

.btn-catalogo:hover {
  background-color: #e0e0e0;
  color: #32351a;
}

