// Colors
$color-principal: #32351a ;
$color-secundario: #f2f2f2 ;
$color-acento: #c8cf93 ;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$fuente-general: 'Roboto', sans-serif;
