@use "./variables";
@use "./buttons";

.custom-navbar {
  background-color: variables.$color-principal;
}

.btn-miColor {
  background-color: variables.$color-principal; 
  color: variables.$color-secundario; 
  border: none; 
  cursor: pointer; 
  
  &:hover {
    background-color: variables.$color-principal; 
    color: variables.$color-secundario;
  }
}

.btn-catalogo {
  background-color: variables.$color-secundario;
  color: variables.$color-principal;
  border: none;
  cursor: pointer;

 
  &:hover {
    background-color: variables.$color-principal; 
    color: variables.$color-secundario;  
  }
}


